/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container styling */
#container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #444;
  line-height: 1.6;
}

/* Header styling */
header {
  margin: 20px 0;
}

h1 {
  text-align: center;
  color: rgba(0, 123, 255, 1);
}

/* Introduction Section */
#introduction {
  margin: 20px 0;
  font-size: 1.1em;
  text-align: center;
}

/* Image gallery */
#image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10%;
}

/* Styling for each image item */
.image-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

/* Heading 3 styling */
.image-item h3 {
  text-align: center;
  color: rgba(40, 167, 69, 1);
  margin-bottom: 10px;
}

/* Styling for figure */
figure {
  text-align: center;
}

/* Styling for figcaption */
figcaption {
  font-style: italic;
  font-size: 0.75em;
  color: rgba(108, 117, 125, 1);
}

/* Styling for links */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* External Link styling */
#external-link {
  margin-top: 40px;
  text-align: center;
}